### Python Tutorial for Beginners 

- Working with text 
- Working with Numeric Data
- List, tuple and sets 
- Dictionary

#### Working with text data

In [4]:
# print out string correctly over multiple lines

multiple_line = """Lonely Christmas
Writing code all the holiday weekend
"""

print (multiple_line[2:])

nely Christmas
Writing code all the holiday weekend

In [5]:
# lower and upper function
print (multiple_line.upper())

LONELY CHRISTMAS
WRITING CODE ALL THE HOLIDAY WEEKEND

In [9]:
# count a certain number of characters in our string
# we can use method

print (multiple_line.count('code'))

# we can use find
# code starts at index 25 of our variable
print (multiple_line.find('code'))

# we want to replace with some string
print (multiple_line.replace('code', 'growth'))

1
25
Lonely Christmas
Writing growth all the holiday weekend

In [11]:
# Placeholder are going to be curly brackets
greeting = 'Welcome'
name = 'Hank'
say = 'Apple'
message = '{}, {}, join {}'.format(greeting, name, say)
# we have new format call f string, make formating string as simple as possible
message_new_format = f'{greeting}, {name.upper()}, join {say}'
print (message)
print (message_new_format)

Welcome, Hank, join Apple
Welcome, HANK, join Apple

#### Working with Numeric Data
    Arithmetic Operators:
    Addition:       3 + 2
    Subtraction:    3 - 2
    Multiplication: 3 * 2
    Division:       3 / 2
    Floor Division: 3 // 2
    Exponent:       3 ** 2
    Modulus:        3 % 2
    
    Comparisons:
    Equal:            3 == 2
    Not Equal:        3 != 2
    Greater Than:     3 > 2
    Less Than:        3 < 2
    Greater or Equal: 3 >= 2
    Less or Equal:    3 <= 2

In [13]:
# call type where we can see the datatype of a object

num = 3
print (type(num))

<class 'int'>

In [16]:
# in python 3 it will keep the decimal
print (3/2)
print (3**2)
# give us the remainder after a division
print (3%2)

1.5
9
1

In [24]:
# increment a variable
# say we want to increment the value by 1

num = 10

#num = num + 1

num += 1

num_10 = 2
num_10 *= 10

print (num)
print (num_10)

# round the value

print (round(3.64829039, 4))

11
20
3.6483

In [25]:
# comparison boolean condition
num_1 = 3
num_2 = 2

print (num_1 == num_2)

False

In [27]:
# When we add string together, it just concatenate those together
num_3 = '100'
num_4 = '200'
print (num_3 + num_4)

num_3 = int('100')
num_4 = int('200')
print (num_3+num_4)

100200
300

#### Lists

In [47]:
country = ['Taiwan', 'Japan', 'Korea', 'China']

# return the last element
print(country[-1])
print(len(country))

# we can access more than one value

# Slicing
print(country[0:2])
# get all the way to the end
print(country[2:])

China
4
['Taiwan', 'Japan']
['Korea', 'China']

In [48]:
# we want to add elements
country.append('US')

# insert element with index
country.insert(0,'Canada')

# we can multiple valus with extend instead of inserting nested list in a another list
country_asia = ['India', 'North Korea']

country.extend(country_asia)

print (country)

['Canada', 'Taiwan', 'Japan', 'Korea', 'China', 'US', 'India', 'North Korea']

In [49]:
# remove values
country.remove('Canada')

# remove the last one
popped = country.pop()

print(popped)

North Korea

In [71]:
# the strings are sorted in alphabetical order
country.sort()

# the number are sorted in ascending order
nums = [1, 2, 32, 5, 45, 7, 92]


# the number are sorted in descending
# A lot of time we don't want to alter the original list 
# Sorted function doesn't sort the list in place 
# it return the sorted version of the list
nums_sorted = sorted(nums, reverse=True)

print(nums_sorted)
print(sorted(country))
print('Min:{}, Max:{}, Sum:{}'.format(min(nums), max(nums), sum(nums)))

[92, 45, 32, 7, 5, 2, 1]
['China', 'India', 'Japan', 'Korea', 'Taiwan', 'US']
Min:1, Max:92, Sum:184

In [77]:
# check the index of certain element
print (country.index('Japan'))

# check if certain element in a list

for item in country:
    print(item)
    
# sometime it may be useful to also have the index of what value we are on 
# we can do it with enumerate, if we don't want to start at 0 we can add the index value in the second argument
for index, item in enumerate(country, 2):
    print(index, item)

2
China
India
Japan
Korea
Taiwan
US
2 China
3 India
4 Japan
5 Korea
6 Taiwan
7 US

In [81]:
# if we want to turn our list of country into a string of comma seperated values, we need join
country_string = ', '.join(country)
print (country_string)

# we can use split to revert it back to the original list
country_split = country_string.split(', ')
print (country_split)

China, India, Japan, Korea, Taiwan, US
['China', 'India', 'Japan', 'Korea', 'Taiwan', 'US']

#### tuple 
The major difference between tuple and list is that we can't modify tuple (immutable)
list is immutable.

In [82]:
# Mutable
list_1 = ['History', 'Math', 'Physics', 'CompSci']
list_2 = list_1

print(list_1)
print(list_2)

list_1[0] = 'Art'

print(list_1)
print(list_2)

['History', 'Math', 'Physics', 'CompSci']
['History', 'Math', 'Physics', 'CompSci']
['Art', 'Math', 'Physics', 'CompSci']
['Art', 'Math', 'Physics', 'CompSci']

In [83]:
Immutable
tuple_1 = ('History', 'Math', 'Physics', 'CompSci')
tuple_2 = tuple_1

print(tuple_1)
print(tuple_2)

tuple_1[0] = 'Art'

print(tuple_1)
print(tuple_2)

# we will see a error becuase we can append or remove anything with tuple

NameError: name 'Immutable' is not defined

#### Sets
Sets don't care about the order. They are used either to test whether a value is part of a set<br/>
or also used a lot to remove duplicate value because sets throw away duplicates

In [84]:
# Sets
cs_courses = {'History', 'Math', 'Physics', 'CompSci'}
print(cs_courses)

{'CompSci', 'Math', 'History', 'Physics'}

In [86]:
# I wanted to see what courses these sets had in common, we can use intersaction 
art_courses = {'History', 'Math', 'Art', 'Design'}

print(cs_courses.intersection(art_courses))

# what's the difference
print(cs_courses.difference(art_courses))

# union
print(cs_courses.union(art_courses))

{'Math', 'History'}
{'CompSci', 'Physics'}
{'CompSci', 'Art', 'History', 'Design', 'Math', 'Physics'}

In [87]:
art_courses_duplicate = ['History', 'Math', 'Art', 'Design', 'Art', 'Math']
art_courses_clean = list(set(art_courses))
print(art_courses_clean)

['Design', 'Math', 'Art', 'History']

In [ ]:
# Empty Lists
empty_list = []
empty_list = list()

# Empty Tuples
empty_tuple = ()
empty_tuple = tuple()

# Empty Sets
empty_set = {} # This isn't right! It's a dict
empty_set = set()

#### Dictionary

In [13]:
student = {'name':'John', 'age':25, 'course':['math', 'compSci']}
print (student['name'])

John

In [3]:
# we can use the get to access the value
print (student.get('name'))

John

In [5]:
# add new entry to the dictionary
student['phone'] = '555-5555'

# update() is useful when we want to update multiple values at a time 
student.update({'name':'Jane','age':26, 'phone':'555-5555'})
print (student)

{'name': 'Jane', 'age': 26, 'course': ['math', 'compSci'], 'phone': '555-5555'}

In [11]:
# remove a key in a dictionary

del student['age']
print (student)

{'name': 'John', 'course': ['math', 'compSci']}

In [8]:
age = student.pop('phone')
print (age)

555-5555

In [16]:
# if we want to see how many keys we have in our dictionary
print(len(student))
# see keys
print(student.keys())
# see values
print(student.values())
# see keys and values pair
print(student.items())

3
dict_keys(['name', 'age', 'course'])
dict_values(['John', 25, ['math', 'compSci']])
dict_items([('name', 'John'), ('age', 25), ('course', ['math', 'compSci'])])

In [17]:
for key, value in student.items():
    print(key, value)

name John
age 25
course ['math', 'compSci']

#### Conditional and Booleans 

Comparisons:
Equal:            ==<br/>
Not Equal:        !=<br/>
Greater Than:     ><br/>
Less Than:        <<br/>
Greater or Equal: >=<br/>
Less or Equal:    <=<br/>
Object Identity:  is

In [22]:
language = 'Java'

if language == 'python':
    print ('Language is Python')
elif language == 'Java':
    print ('Language is Java')
elif language == 'JavaScript':
    print ('Language is JavaScript')
else:
    print ('No match')

Language is Java

In [23]:
user = 'Admin'
logged_in = True

if user == 'Admin' and logged_in:
    print('Admin Page')
else:
    print('Bad Creds')

Admin Page

In [25]:
# and 
# or 
# not are used for changing booleans

# not false
if not logged_in:
    print('Please Log in')
else:
    print('Welcome')

Welcome

In [31]:
a = [1,2,3]
b = [1,2,3]

print (a == b)

# it would return false as these are two different objects in memory and we can print out these locations with this 
# built-in ID, 'is' operator is to check if these IDs are the same
print (a is b)

b = a
print (id(a), id(b))
# right now they are same object in memory
print (a is b)

True
False
4364792072 4364792072
True

False Values:
    # False
    # None
    # Zero of any numeric type
    # Any empty sequence. For example, '', (), [].
    # Any empty mapping. For example, {}.

In [36]:
# This can be useful when we create a function that is supposed to return some value 
# if is needed to check if those values are actually there 
# we can pass in an empty sequence to check it

condition_list = [False, None, 0, '',(), [],{}]

for i in condition_list:
    if condition:
        print ('Evaluated to True')
    else:
        print ('Evaluated to False')

Evaluated to False
Evaluated to False
Evaluated to False
Evaluated to False
Evaluated to False
Evaluated to False
Evaluated to False

#### Loops and Iterations

In [39]:
nums = [1, 2, 3, 4, 5]

# The break statement breaks the loop
for num in nums:
    if num == 3:
        print('Found!')
        break
    print(num)

for num in nums:
    if num == 3:
        print('Found!')
        continue
    print(num)

1
2
Found!
1
2
Found!
4
5

In [40]:
# nested loop
# What happened was for the first one it would loop through/ over the string and it would go to the next one
# it would give us every combination of those numbers and characters
for num in nums:
    for letter in 'abc':
        print (num, letter)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c
4 a
4 b
4 c
5 a
5 b
5 c

In [42]:
for i in range(1, 11):
    print (i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# while loop will just keep going until a certain condition is met
# we need to set a condition to break out off the loop otherwise it would get stuck in this infinite loop
# just keep incrementing x by 1

x = 0

while x < 10:
    print(x)
    x += 1

#### Function

In [50]:
def hello_func(greeting, name = 'You'):
    return '{} {} Function.'.format(greeting ,name)

print (hello_func('Hi','Hank'))

Hi Hank Function.

In [51]:
# we don't know how many positional or keyword arguments that will be
# *args is for positional argument and **kwarges is for keyword argument
def student_info(*args, **kwarges):
    print (args)
    print (kwarges)
    

student_info('Math', "Art", name='Hank', age=26)

('Math', 'Art')
{'name': 'Hank', 'age': 26}

In [53]:
# if we use * and ** in parameters of the function it will actually unpack a sequence or dictionary
course = ['Math', 'Art']
info = {'name': 'Hank', 'age': 26}

student_info(course, info)
# add * before the argument if would unpack the values
student_info(*course, **info)

(['Math', 'Art'], {'name': 'Hank', 'age': 26})
{}
('Math', 'Art')
{'name': 'Hank', 'age': 26}

Number of days per month. First value placeholder for indexing purposes.<br/>
month_days = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

In [63]:
def is_leap(year):
    """Return True for leap years, False for non-leap years."""

    return year % 4 == 0 and (year % 100 != 0 or year % 400 == 0)

In [64]:
print (is_leap(2020))

True

In [67]:
month_days = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
def days_in_month(year, month):
    """Return number of days in that month in that year."""

    if not 1 <= month <= 12:
        return 'Invalid Month'

    if month == 2 and is_leap(year):
        return 29

    return month_days[month]

In [68]:
print (days_in_month(2017, 2))

28

In [ ]:
print (days)