### Python Tutorial for Beginners 

- Working with text 
- Working with Numeric Data

#### Working with text data

In [4]:
# print out string correctly over multiple lines

multiple_line = """Lonely Christmas
Writing code all the holiday weekend
"""

print (multiple_line[2:])

nely Christmas
Writing code all the holiday weekend

In [5]:
# lower and upper function
print (multiple_line.upper())

LONELY CHRISTMAS
WRITING CODE ALL THE HOLIDAY WEEKEND

In [9]:
# count a certain number of characters in our string
# we can use method

print (multiple_line.count('code'))

# we can use find
# code starts at index 25 of our variable
print (multiple_line.find('code'))

# we want to replace with some string
print (multiple_line.replace('code', 'growth'))

1
25
Lonely Christmas
Writing growth all the holiday weekend

In [11]:
# Placeholder are going to be curly brackets
greeting = 'Welcome'
name = 'Hank'
say = 'Apple'
message = '{}, {}, join {}'.format(greeting, name, say)
# we have new format call f string, make formating string as simple as possible
message_new_format = f'{greeting}, {name.upper()}, join {say}'
print (message)
print (message_new_format)

Welcome, Hank, join Apple
Welcome, HANK, join Apple

#### Working with Numeric Data
    Arithmetic Operators:
    Addition:       3 + 2
    Subtraction:    3 - 2
    Multiplication: 3 * 2
    Division:       3 / 2
    Floor Division: 3 // 2
    Exponent:       3 ** 2
    Modulus:        3 % 2
    
    Comparisons:
    Equal:            3 == 2
    Not Equal:        3 != 2
    Greater Than:     3 > 2
    Less Than:        3 < 2
    Greater or Equal: 3 >= 2
    Less or Equal:    3 <= 2

In [13]:
# call type where we can see the datatype of a object

num = 3
print (type(num))

<class 'int'>

In [16]:
# in python 3 it will keep the decimal
print (3/2)
print (3**2)
# give us the remainder after a division
print (3%2)

1.5
9
1

In [24]:
# increment a variable
# say we want to increment the value by 1

num = 10

#num = num + 1

num += 1

num_10 = 2
num_10 *= 10

print (num)
print (num_10)

# round the value

print (round(3.64829039, 4))

11
20
3.6483

In [25]:
# comparison boolean condition
num_1 = 3
num_2 = 2

print (num_1 == num_2)

False

In [27]:
# When we add string together, it just concatenate those together
num_3 = '100'
num_4 = '200'
print (num_3 + num_4)

num_3 = int('100')
num_4 = int('200')
print (num_3+num_4)

100200
300

#### Lists

In [47]:
country = ['Taiwan', 'Japan', 'Korea', 'China']

# return the last element
print(country[-1])
print(len(country))

# we can access more than one value

# Slicing
print(country[0:2])
# get all the way to the end
print(country[2:])

China
4
['Taiwan', 'Japan']
['Korea', 'China']

In [48]:
# we want to add elements
country.append('US')

# insert element with index
country.insert(0,'Canada')

# we can multiple valus with extend instead of inserting nested list in a another list
country_asia = ['India', 'North Korea']

country.extend(country_asia)

print (country)

['Canada', 'Taiwan', 'Japan', 'Korea', 'China', 'US', 'India', 'North Korea']

In [49]:
# remove values
country.remove('Canada')

# remove the last one
popped = country.pop()

print(popped)

North Korea

In [71]:
# the strings are sorted in alphabetical order
country.sort()

# the number are sorted in ascending order
nums = [1, 2, 32, 5, 45, 7, 92]


# the number are sorted in descending
# A lot of time we don't want to alter the original list 
# Sorted function doesn't sort the list in place 
# it return the sorted version of the list
nums_sorted = sorted(nums, reverse=True)

print(nums_sorted)
print(sorted(country))
print('Min:{}, Max:{}, Sum:{}'.format(min(nums), max(nums), sum(nums)))

[92, 45, 32, 7, 5, 2, 1]
['China', 'India', 'Japan', 'Korea', 'Taiwan', 'US']
Min:1, Max:92, Sum:184

In [77]:
# check the index of certain element
print (country.index('Japan'))

# check if certain element in a list

for item in country:
    print(item)
    
# sometime it may be useful to also have the index of what value we are on 
# we can do it with enumerate, if we don't want to start at 0 we can add the index value in the second argument
for index, item in enumerate(country, 2):
    print(index, item)

2
China
India
Japan
Korea
Taiwan
US
2 China
3 India
4 Japan
5 Korea
6 Taiwan
7 US

In [81]:
# if we want to turn our list of country into a string of comma seperated values, we need join
country_string = ', '.join(country)
print (country_string)

# we can use split to revert it back to the original list
country_split = country_string.split(', ')
print (country_split)

China, India, Japan, Korea, Taiwan, US
['China', 'India', 'Japan', 'Korea', 'Taiwan', 'US']

#### tuple 
The major difference between tuple and list is that we can't modify tuple (immutable)
list is immutable.

In [82]:
# Mutable
list_1 = ['History', 'Math', 'Physics', 'CompSci']
list_2 = list_1

print(list_1)
print(list_2)

list_1[0] = 'Art'

print(list_1)
print(list_2)

['History', 'Math', 'Physics', 'CompSci']
['History', 'Math', 'Physics', 'CompSci']
['Art', 'Math', 'Physics', 'CompSci']
['Art', 'Math', 'Physics', 'CompSci']

In [83]:
Immutable
tuple_1 = ('History', 'Math', 'Physics', 'CompSci')
tuple_2 = tuple_1

print(tuple_1)
print(tuple_2)

tuple_1[0] = 'Art'

print(tuple_1)
print(tuple_2)

# we will see a error becuase we can append or remove anything with tuple

NameError: name 'Immutable' is not defined

#### Sets
Sets don't care about the order. They are used either to test whether a value is part of a set<br/>
or also used a lot to remove duplicate value because sets throw away duplicates

In [84]:
# Sets
cs_courses = {'History', 'Math', 'Physics', 'CompSci'}
print(cs_courses)

{'CompSci', 'Math', 'History', 'Physics'}

In [86]:
# I wanted to see what courses these sets had in common, we can use intersaction 
art_courses = {'History', 'Math', 'Art', 'Design'}

print(cs_courses.intersection(art_courses))

# what's the difference
print(cs_courses.difference(art_courses))

# union
print(cs_courses.union(art_courses))

{'Math', 'History'}
{'CompSci', 'Physics'}
{'CompSci', 'Art', 'History', 'Design', 'Math', 'Physics'}

In [87]:
art_courses_duplicate = ['History', 'Math', 'Art', 'Design', 'Art', 'Math']
art_courses_clean = list(set(art_courses))
print(art_courses_clean)

['Design', 'Math', 'Art', 'History']

In [ ]:
# Empty Lists
empty_list = []
empty_list = list()

# Empty Tuples
empty_tuple = ()
empty_tuple = tuple()

# Empty Sets
empty_set = {} # This isn't right! It's a dict
empty_set = set()